# Directories
target
src
!target/x86_64-unknown-linux-musl/release/mimalloccrate
!target/x86_64-unknown-linux-musl/debug/mimalloccrate
!target/aarch64-unknown-linux-musl/release/mimalloccrate
!target/aarch64-unknown-linux-musl/debug/mimalloccrate
!target/armv7-unknown-linux-musleabihf/release/mimalloccrate
!target/armv7-unknown-linux-musleabihf/debug/mimalloccrate
!target/arm-unknown-linux-musleabi/release/mimalloccrate
!target/arm-unknown-linux-musleabi/debug/mimalloccrate

.dockerignore
Dockerfile**
Cargo.lock
qemu_**
