# Directories
**/target/
mak/
test/
.vscode/
.github/
./.artifacts/

# git
.git**

# Files
*.md
*.py
*.sh
*.txt
LICENSE
.dockerignore
Dockerfile**
Makefile**
render_template
**/Cargo.lock
Cargo.lock
.actrc
.hadolint.yaml
.secrets
.env
