# Ignore all by default
*

# Exclude what we want
!.github/
!.github/**
!cross-targets/
!cross-targets/**
!mak/
!mak/**
!patches/
!patches/**
!test/
!test/**

!.actrc
!.dockerignore
!.gitignore
!.secrets_template
!CHANGELOG.md
!Dockerfile.*
!hadolint.yaml
!LICENSE
!Makefile
!README.md
!requirements.txt
!test.sh
!update_libs.py

# Re-Ignore testing crate files
test/**/Cargo.lock
test/**/target
test/**/data.tar.gz
test/**/output
test/**/main.db
test/**/.artifacts
